<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.brahamaputra.mahindra.brahamaputra">

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activities.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.DashboardActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".Activities.UsersHotoListActivity"
            android:label="Hoto List"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.UserHotoTransactionActivity"
            android:label="Hoto Transaction"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Tower_Detail"
            android:label="Tower Detail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.HotoSectionsListActivity"
            android:label="Sections"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Land_Details"
            android:label="Sections"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Earth_Resistance_Equipment"
            android:label="Sections"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Earth_Resistance_Tower"
            android:label="Sections"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Electric_Connection"
            android:label="Sections"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Solar_Power_System"
            android:label="Sections"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Air_Conditioners"
            android:label="Sections"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Shelter"
            android:label="Sections"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Power_Backups_DG"
            android:label="Sections"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.PowerPlantDetailsActivity"
            android:label="Sections"
            android:screenOrientation="portrait" />
    </application>

</manifest>